* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 339px) {
  html {
    background: black;
    font-size: 5px;
  }
  .mnb-right h4 {
    transform: scale(0.9) translateX(0.2rem);
  }
  .mnb-right p {
    transform: scale(0.95) translateX(0.2rem);
  }
  .mnb-right span {
    transform: scale(0.85) translateX(0.4rem);
  }
}
@media (min-width: 340px) and (max-width: 667px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 667px) and (max-width: 1100px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 24px;
  }
  .index i {
    font-size: 0.9rem !important;
  }
}
.content {
  width: 100%;
  height: 100%;
}
.content header {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #06c1ae;
}
.content header .my {
  text-decoration: none;
  color: white;
  display: block;
  flex: 1.1;
  font-size: 0.6rem;
}
.content header .my .iconfont {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}
.content header .address {
  text-decoration: none;
  color: white;
  display: block;
  flex: 1.6;
  line-height: 2.5rem;
  font-size: 1.2rem;
}
.content header .address span {
  transform: rotate(45deg);
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  transform-origin: 70%;
  border-bottom: white solid 1px;
  border-right: 1px solid white;
}
.content header .address span:hover {
  transform: rotate(-135deg);
  transition: all 0.5s;
}
.content header .search {
  border-radius: 0.2rem;
  position: relative;
  margin: 0.8rem 0;
  flex: 7;
  width: 10rem;
  display: inline-block;
}
.content header .search .iconfont {
  color: #fff9e4;
  font-weight: bolder;
  font-size: 0.8rem;
}
.content header .search .btnx {
  left: 0;
  border-radius: 0.25rem !important;
  background: none;
  position: absolute;
  line-height: 2.5rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
}
.content header .search .sou {
  border: none;
  border-radius: 0.25rem;
  background: #05a494;
  box-sizing: border-box;
  width: 100%;
  line-height: 2.5rem;
  height: 2.5rem;
  padding-left: 2.5rem;
  color: white;
}
.content .index {
  width: 100%;
  height: 20rem;
  display: flex;
}
.content .index .indexContent {
  display: block;
  width: 100%;
  height: 100%;
}
.content .index .indexContent ul:nth-child(2) a:nth-child(1) span {
  background: blueviolet;
}
.content .index .indexContent ul:nth-child(2) a:nth-child(2) span {
  background: palegreen;
}
.content .index .indexContent ul:nth-child(2) a:nth-child(3) span {
  background: darkblue;
}
.content .index .indexContent ul:nth-child(2) a:nth-child(4) span {
  background: indianred;
}
.content .index .indexContent ul:nth-child(2) a:nth-child(5) span {
  background: mediumaquamarine;
}
.content .index .indexContent ul {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content .index .indexContent ul a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 7rem;
}
.content .index .indexContent ul a:nth-child(1) span {
  background: blueviolet;
}
.content .index .indexContent ul a:nth-child(2) span {
  background: pink;
}
.content .index .indexContent ul a:nth-child(3) span {
  background: greenyellow;
}
.content .index .indexContent ul a:nth-child(4) span {
  background: yellow;
}
.content .index .indexContent ul a:nth-child(5) span {
  background: black;
}
.content .index .indexContent ul a i {
  text-align: center;
  font-size: .24rem;
  color: #666;
  font-style: normal;
}
.content .index .indexContent ul a span {
  margin: 0.3rem auto;
  display: block;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 2rem;
  background: red;
  color: white;
}
.content .biaopai {
  text-align: center;
  width: 100%;
  background: white;
  margin: 1.1rem 0;
  display: flex;
}
.content .biaopai p {
  color: #666666;
}
.content .biaopai div {
  border: 1px solid gainsboro;
}
.content .biaopai div img {
  vertical-align: middle;
  height: 100%;
}
.content .biaopai .left {
  flex: 0.9;
  align-items: center;
  flex-direction: column;
}
.content .biaopai .left a {
  margin-top: 2.2rem;
  display: block;
  height: 2rem;
  line-height: 2rem;
}
.content .biaopai .left a h4 {
  color: red;
  line-height: 1rem;
}
.content .biaopai .left img {
  height: 8rem;
}
.content .biaopai .right {
  flex: 1.1;
  flex-direction: column;
  display: flex;
}
.content .biaopai .right .left-a {
  margin-top: 1rem;
}
.content .biaopai .right .right-top {
  width: 100%;
  height: 50%;
}
.content .biaopai .right .right-top a {
  padding-top: 0.2rem;
  width: 14rem;
  display: inline-block;
}
.content .biaopai .right .right-top a h4 {
  color: saddlebrown;
}
.content .biaopai .right .right-top img {
  height: 5rem;
}
.content .biaopai .right .right_bottom {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
}
.content .biaopai .right .right_bottom .right_bottom_left {
  flex: 1;
}
.content .biaopai .right .right_bottom .right_bottom_left a {
  font-size: 0.4;
  padding-top: 0.7rem;
  width: 3rem;
  display: inline-block;
}
.content .biaopai .right .right_bottom .right_bottom_left a h4 {
  color: #149BDF;
}
.content .biaopai .right .right_bottom .right_bottom_left img {
  margin-left: 0.2rem;
  width: 3rem;
}
.content .biaopai .right .right_bottom .right_bottom_right {
  flex: 1;
  position: relative;
}
.content .biaopai .right .right_bottom .right_bottom_right .timeHeader {
  font-size: 0.4;
  padding-top: 0.7rem;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: -1rem;
  width: 5rem;
}
.content .biaopai .right .right_bottom .right_bottom_right .timeHeader h4 {
  color: yellow;
}
.content .biaopai .right .right_bottom .right_bottom_right .timer {
  margin: auto;
  border: none;
  width: 5rem;
  display: flex;
  justify-content: space-around;
}
.content .biaopai .right .right_bottom .right_bottom_right .timer p {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.55rem;
  border-radius: 0.3rem;
  color: white;
  background: darkslategrey;
}
.content .shoop_content {
  padding: 0 1rem;
  background: white;
  border: 1px solid darkgray;
}
.content .shoop_content .shoop-header {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.3rem;
}
.content .shoop_content .mnb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.content .shoop_content .mnb h1 {
  text-align: center;
}
.content .shoop_content .mnb li {
  overflow: hidden;
  display: flex;
  padding: 0.5rem;
  background: white;
  border: 1px solid gainsboro;
  border-right: none;
  border-left: none;
}
.content .shoop_content .mnb li img {
  flex: 1;
  height: 6rem;
  width: 6rem;
  display: block;
}
.content .shoop_content .mnb li .mnb-right {
  position: relative;
  padding-left: 1rem;
  flex-direction: column;
  flex: 4;
}
.content .shoop_content .mnb li .mnb-right .x {
  font-size: 0.9rem;
  color: #666;
  position: absolute;
  right: 0;
  bottom: 0.4rem;
}
.content .shoop_content .mnb li .mnb-right p {
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 1.7rem;
  color: #06C1AE;
  overflow: hidden;
}
.content .shoop_content .mnb li .mnb-right p span {
  border: 1px solid orange;
  height: 1.4rem;
  padding: 0 0.3rem;
  line-height: 1.5rem;
  border-radius: 0.2rem;
  margin-left: 0.8rem;
  display: inline-block;
  font-size: 1rem;
  color: orange;
}
.content .shoop_content .mnb li .mnb-right .mnb-head {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-end;
  display: block;
  font-size: 1.1;
  color: gray;
  width: 15rem;
  margin-top: 0;
}
.content footer {
  text-align: center;
  padding-top: 2rem;
  padding: 3rem 0;
  margin-top: 0rem;
  background: white;
}
.content footer .yongHu {
  text-align: left;
  padding: 0.5rem;
  overflow: hidden;
}
.content footer .yongHu a {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #4BB1CF;
  color: #4BB1CF;
}
.content footer .yongHu span {
  display: block;
  float: right;
}
.content footer .footer-nav {
  padding-top: 2.5rem;
  display: flex;
}
.content footer .footer-nav li {
  flex: 1;
  border-left: 1px solid #363636;
}
.content footer .footer-nav li:nth-child(1) {
  border: none;
}
.content footer .footer-nav li a {
  display: block;
  color: #4BB1CF;
}
.content footer .youQingLianJie {
  line-height: 3.5rem;
}
.content footer .youQingLianJie a {
  color: #4BB1CF;
}
.content footer .banHao {
  color: gray;
  font-size: 0.7rem;
}
/*# sourceMappingURL=oiu.css.map */
